/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



body {
  background-image: url('https://images.unsplash.com/photo-1603484477859-abe6a73f9366?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: center;
}

/* Glassmorphism card effect */
.card {
  backdrop-filter: blur(2px) saturate(128%)!important;
  -webkit-backdrop-filter: blur(2px) saturate(128%)!important;
  background-color: rgba(255, 255, 255, 0.57)!important;
  border-radius: 12px!important;
  border: 1px solid rgba(209, 213, 219, 0.3)!important;
}

.Tasklist {
  backdrop-filter: blur(2px) saturate(128%)!important;
  -webkit-backdrop-filter: blur(2px) saturate(128%)!important;
  background-color: rgba(255, 255, 255, 0.57)!important;
  border-radius: 12px!important;
  border: 1px solid rgba(209, 213, 219, 0.3)!important;
}

/* TaskList.css */
.task-cell {
  max-height: 50px; /* Set your desired max height for task cells */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
